---
---

$header-bg-color: #1e6bb8;
$header-bg-color-secondary: #7EA7D3;

$body-link-color: #346498;
$blockquote-text-color: #819198;

$section-headings-color: #346498;

$code-text-color: #494D4E;

@import "{{ site.theme }}";
